body{
    margin: 0;
    padding: 0;
    background-color: black;
}

header{
    display: inline-block;
    width: 100%;
}
nav{
    display:inline-block;
    width: 80%;
    float: right;
    text-align: right;
    color: aliceblue;
}

nav ul li{
    display: inline-block;
    padding: 11px;
    border: 3px solid;
    border-radius: 9px;
    margin: 5px;
}
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
#header-container{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(/images/home.jpeg);
    background-size: cover;
    
    
    background-position: center;
    /* background-size: inherit; */
    height: 652px;
    position: relative;
}
#headback{
    width: 100%;
    position: absolute;
}
#logo{
    color: white;
    text-decoration: none;
    display: inline-block;
   margin: 1em;

}
#intro{
    text-align: center;
    color: white;
    
    font-size: 25px;
}
#intro span{
    font-size: 85px;
    
}
#flex_about{
    display:flex;


}
#flex_about div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width:30%;
    border-radius: 1em;
}
#flex_about #education{
    text-align: center;
}
#flex_about #experience{
    text-align: center;  
}
#flex_about #skills{
    text-align: center;
}
#about_me{
    
    display: flex;
    background: rgb(90 90 92);

}
#about_me #profile_img{
    
    width:30%;
    
  
}
#about_me #profile_img img{
    width: 210px;
    height: auto;
    border-radius: 80px;
    border: 2px dashed;
    padding: 0.5em;
    margin: 1em;
}

#about_me #about_me_para{
   
    width:60%;
    margin: 1em;
    font-weight: 100;
    font-size: large;
   
}
#about_me_para p{
color: white;
}
#about_me div {
    display: inline-block;
}

footer{
    text-align: center;     
    background:black;
}
footer p{
    color: #f1f1f1;
}
#education ul li{
    font-size: medium;
    
}
#experience ul li{
    font-size: medium;  
}
#skills ul li{
    font-size: medium;  
}