body{
    background-color: black;
}
p,h2{
  color: black;
}
header{
    width:20%;
    font-family: cursive;
    float: left;
    
}
header img{
    height: 100px;
    width: 100px;
}


nav{
    width:75%; 
    float: right;
    margin: 0em 4em 0 0;
    height: 100px;
    /*background-image: url("http://127.0.0.1:5500/images/pexels-pixabay-270348.jpg");*/
}

main{
    clear: right;
    background-color: white;
    background-image: url("\images\pexels-nataliya-vaitkevich-6120212.jpg");
    padding: 2%;
    font-size: 1.5em;
    border-radius: 25px;

}


nav ul{
    list-style-type: none;
    margin:0;
    text-align: right;
}

nav ul li{
    display: inline-block;
    font-size: 1.75em;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    
}
nav ul li a:hover {
    
    text-decoration: underline;

  }

footer p{
    font-size: 1em;
    text-align: center;
    color:rgba(92, 186, 230, 0.5);
    padding: 0 1em;
}


footer p a{
    color:rgba(92, 186, 230, 0.5);
    text-decoration:double;
}
#image1{
    height: 6%;
}
#container{
  border-radius: 30px;
}
.grid-container{
display: grid;
grid-template-columns: 50% 50% ;  /* it specify the size of each column */
}

.grid-item{
    display: inline-block;
    padding: 2%;
}
/* index styling */
#requirements{
  box-shadow: 0 3px 40px 0 rgba(92, 186, 230, 0.5);
  border-radius: 2em;
}
#step_guide{
  box-shadow: 0 3px 40px 0 rgba(92, 186, 230, 0.5);
  border-radius: 2em;
}
.but 
{
  border-radius: 2em;
  border: 2px solid rgba(92, 186, 230, 0.5);
  background-color: blanchedalmond;
}
.buto
{
  border-radius: 1em;
  border: 3px solid #1cc75e;
  background-color: lemonchiffon;
  width: 30%;
}
.bto{
  border-radius: 2.2em;
  background-color: floralwhite;
  margin-left: 3em;
}
.bigt{
  border-radius: 2.2em;
  background-color: floralwhite;
}
.step-grid {
 position: relative;
 left: 30%;
}
.tvs {
  margin-left: -17px;
  width: 14em;
  height: 20px;
  /* border: 1px solid #0c0c0cf6; */
  /* fill: #1c87c9; */
  border-radius: 0px 10px 0 0;
  border-top: 2px solid rgba(92, 186, 230, 0.5);
  border-right: 2px solid rgba(92, 186, 230, 0.5);
}

.hori{
  margin-left: 4.55em;
  width: 0px;
  height: 20px;
  border: 1px solid #0c0c0cf6;
  
}
.center{
  position: relative;
  left : 37%;
}
img{
  border-radius: 17em 0 0 0;
}
table th ,td{
  border: 1px solid black;
  padding: 1em;
}
ul.bot {
  display: inline-flex;
  text-size-adjust: auto;
}
h3 {
  display: block;
  font-size: 1.6em;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: cursive;
}
p.par {
  font-family: system-ui;
  font-size: 15px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  
}
/* Practice Table Design */
.panel table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.panel table td, .panel table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.panel table tr:nth-child(even){background-color: #f2f2f2;}

.panel table tr:hover {background-color: #ddd;}

.panel table th {
  
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: steelblue;
  color: white;
}
.panel table a{
  text-decoration: none;
  color: black;
  
}


.accordion {
    background-color:rgba(0, 0, 0, 0.888);
    color: white;
    cursor: pointer;
    
    width: 100%;
    border: 1px solid darkslategrey;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    flex-direction: row;
    /* border-radius: 10px; */

  }
progress{
    width: 45%;
    height: 2rem;
    margin: 1vh 0vh 0vh 2vh;
}
.topic{
    width: 50%;
} 
  
  .active, .accordion:hover {
    background-color: #ccc; 
    color: black;
    font-size: large;
  }
  .active p, .accordion:hover p{
    color: black;
  }
  .active, .accordion:hover progress{
    margin: 1.6vh 0vh 0vh 2vh;
  }
  
  .panel {
    
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .resource-page_flex{
    display: flex;
    height: 100vh;
    
  }
  
  .resouces_sidebar{
    min-width: 15%;
    border: 2px solid;
    
  }

  .resouces_content{
    max-width: 70%;
    min-width: 70%;
    border: 2px solid;
    
  }
  .resouces_content iframe{
    min-width: -webkit-fill-available;
    min-height:-webkit-fill-available;

  } 

  .progress {
    width: 100%;
    background-color: grey;
    
    
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }