body{
    background-color: black;
}

header{
    width:20%;
    font-family: cursive;
    float: left;
    
}
header img{
    height: 100px;
    width: 100px;
}


nav{
    width:75%; 
    float: right;
    margin: 0em 4em 0 0;
    height: 100px;
    /*background-image: url("http://127.0.0.1:5500/images/pexels-pixabay-270348.jpg");*/
}

main{
    clear: right;
    background-color: rgb(220, 242, 248);
    background-image: url("\images\pexels-nataliya-vaitkevich-6120212.jpg");
    padding: 2%;
    font-size: 1.5em;
    border-radius: 10px;

}


nav ul{
    list-style-type: none;
    margin:0;
    text-align: right;
}

nav ul li{
    display: inline-block;
    font-size: 1.75em;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    text-decoration: none;
    
}
nav ul li a:hover {
    
    text-decoration: underline;

  }

footer p{
    font-size: 1em;
    text-align: center;
    color:rgb(160, 27, 27);
    padding: 0 1em;
}


footer p a{
    color: rgb(133, 19, 19);
    text-decoration:double;
}
#image1{
    height: 6%;
}

.grid-container{
display: grid;
grid-template-columns: 50% 50% ;  /* it specify the size of each column */
}

.grid-item{
    display: inline-block;
   

}

table, th ,td{
    border: 1px solid black;
    padding: 1em;
}


